.cover__link {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #FFF;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(42, 44, 47, .3);
    width: 100%;
}

.cover__link:hover {
    background: rgba(42, 44, 47, .8);
    transition: background 0.5s linear;
}