.place__link {
    margin: 12px 0 0;
    color: #FFF;
    font-size: 18px;
    line-height: 22px;
    font-weight: normal;
}

.place__link:visited {
    color: #FFF;
}

.place__link:hover {
    opacity: .8;
    transition: opacity 0.5s linear;
}