.cover__title {
    grid-row: 1;
    grid-column: 1;
    text-align: center;
    z-index: 3;
    align-self: flex-end;
    color: #FFF;
    font-size: 72px;
    line-height: 76px;
    font-weight: 900;
    width: 560px;
    justify-self: center;
    margin: 0;
}

.cover__title:visited {
    color: #FFF;
    text-decoration: none;
}